{{template "Header"}}


<div class="form">
    <form method="POST" action="/forgot_pass_auth">
        <img class="login_img" src="asset/images/logo.png" alt="">
        <h1 class="login_title">{{.}}</h1>
        <h3>Please Create <a href="/signup">Account</a> </h3>
    </form>

</div>

</body>

</html>