{{template "Header"}}

<div id="main-content">
    <div class="notFount">
        <h2>404 Not Page Fount</h2>
        <h4>Please go to <a href="/">Home Page</a></h4>
    </div>

</div>
</body>

</html>